@import "bienvenida";
@import "key";
@import "mixins";
@import "maps";


/*Variables*/ 

$letter: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$bottom_hover: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.26));
$shadowPrimary: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; 
$shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; 

/*Header*/

header{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: map-get($colors, colorPrimary);
    box-shadow: $shadowPrimary;
    
    .logo{
        @include center (flex);
        width: 120px;
        margin: 3%;
    }
}
    
.todo__lamparas{
    @include center(none);
    margin: 2%;
    font-size: 170%;
    color: map-get($colors, colorW);
}
    
    nav ul {
        @include center(grid);
        grid-template-columns: repeat(5, 1fr);
        margin-top: 12%;
        column-gap: 5%;
        
        a {
            @include center(flex);
            text-decoration: none;
            color: map-get($colors, colorB);
            margin: 4%;
            
            &:hover{
                color: map-get($colors, colorW);
            }
        }
    }


body{
    @include body($letter);
    /*font-size: larger;*/
} 
    
/*Index*/

.main__inicio{

    display: block;
    grid-template-rows: (30% 70%);

    img{
        animation: from-right 3s ease;
    }
}

.cuerpo__texto{
    width: auto;
    font-size: 150%;
    animation: from-behind 3s ease;    
}

.slogan{
    @extend .bienvenida;
    text-shadow: $shadow;
}


/* Galería */

.main__galería {

    .row{
        margin: 1%;
    } 

    img{
        height: 68%;
        animation: from-bottom 1.5s ease;
        transition: opacity 1s;
    }
}

figure img:hover{
    opacity: 0.5;
}

/*Lista*/

.main__lista{
    margin: 8%;
    h3{
        @include center(flex);
    }
    ul{
        h1{
            font-size: 150%;
        }
        li{
            margin-top: 4%;
        }
    }
}

/*Formulario*/

.main__formulario{

    .formulario{
        @include center(block);
        @include formulario(true);
        box-shadow: $shadow;

        .formulario__enviar{
        @include boton;
        height: 50px;
        width: 100px;
        }
    }

    .col-12{
        margin: 2%,;
    }
} 


/*Contacto*/

.main__contacto{
    @include center(grid);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
    margin: 15%;

    .mensaje{

        .formulario__enviar{
            @include boton;
            width: 100px;
            height: 40px;
        }

        form{
            text-align: center;
            margin: 5%;
            
            div{
                margin: 2%;
            }
        }
    } 
        
    .mail{
        font-size: 150%;
        margin: 15px;
        margin-bottom: 35px;
    }
}

/*Footer*/

footer{
    background-color: map-get($colors, colorPrimary);
    @include center(column);
    padding: 10px;
    margin-top: 5%;

    p{
        color: map-get($colors, colorW);
        font-size: 190%;
        margin: 10px;
    }
}

/*MEDIA*/

@media screen and (max-width: 768px) {
    header{
        grid-template-columns: repeat(1, 1fr);
    }  
    nav ul {
        display: block;
    }
    header .logo{
        width: 180px;
        margin: auto;
    }
    .main__contacto{
    grid-template-columns: repeat(1, 1fr);
    }  
    .todo__lamparas{
        display: flex;
    }
}

@media screen and (max-width: 576px) {
    header{
        grid-template-columns: repeat(1, 1fr);
    }
    .main__inicio .inicio__cuerpo {
        grid-template-columns: repeat(2, 1fr);
        margin: 8%;
    }  
    header .logo{
        display: none;
    }  
}


@media screen and (max-width: 350px) {
    header{
        grid-template-columns: repeat(1, 1fr);
    }   
}